- submit_path = predict_classifications_path
- submit_path = knn_numerical_classifications_path if params[:knn_numerical].present?
= simple_form_for(@diabetic, url: submit_path, method: :get, wrapper: 'horizontal_form') do |f|
  = f.error_notification

  .form-inputs
    = f.input :pregnant
    = f.input :oral_glucose_tolerance
    = f.input :blood_pressure
    = f.input :skin_fold_thickness
    = f.input :serum_insulin
    = f.input :body_mass_index
    = f.input :pedigree_function
    = f.input :age
    = f.input :positive
    = f.input :radius, label: 'radius (K)' if params[:knn_numerical].present?

  .form-actions
    = f.button :submit, value: 'Submit'
