%div.row
  .col-md-10
    %h1 Predicts(KNN)
  .col-md-2.text-right
    = link_to 'New Prediction', sample_classifications_path(:knn_numerical => true), :class => 'btn btn-sm btn-info'

= pie_chart @pie_chart, {legend: 'none'}
= line_chart @chart_data
= line_chart @chart_data2

%table.table.table-bordered.table-hover.table-striped.table-responsive
  %thead
    %tr
      %th.text-center{:colspan => 2} Actual
      %th.text-center{:colspan => 2} Predicted
      %th.text-center{:colspan => 2} Accuracy(%)
    %tr
      %th.text-center Positive
      %th.text-center Negative
      %th.text-center Positive
      %th.text-center Negative
      %th.text-center Positive
      %th.text-center Negative

  %tbody.text-center
    %tr
      %td= @actual_positive
      %td= @actual_negative
      %td= @predicted_positive
      %td= @predicted_negative
      %td= @percent_positive
      %td= @percent_negative

%h1 Samples
%table.table.table-bordered.table-hover.table-striped.table-responsive
  %thead
    %tr
      %th Pregnant
      %th Oral glucose tolerance
      %th Blood pressure
      %th Skin fold thickness
      %th Serum insulin
      %th Body mass index
      %th Pedigree function
      %th Age
      %th Positive
      %th Decision

  %tbody
    - @predictions.each do |predict|
      - diabetic = predict[:sample]
      %tr
        %td= diabetic[0]
        %td= diabetic[1]
        %td= diabetic[2]
        %td= diabetic[3]
        %td= diabetic[4]
        %td= diabetic[5]
        %td= diabetic[6]
        %td= diabetic[7]
        %td= diabetic[8]
        %td= predict[:decision]

%h1 Distances

%table.table.table-bordered.table-hover.table-striped.table-responsive
  %thead
    %tr
      %th Distance
      %th Data Points

  %tbody
    - @predictions.each do |prediction|
      - prediction[:distances].each do |distance|
        %tr
          %td= distance[1]
          %td= distance[2]
